textarea:focus, input:focus {
  outline: none;
}

.login_container {
  display: grid;
  align-self: center;
  justify-self: center;
}

body {
  font: 100% "Lustria", serif;
  color: #333;
  background-image: url("/assets/qbkls.png");
  box-sizing: border-box;
}

.container {
  background-color: rgba(51, 46, 60, 0.2);
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.container button {
  margin-bottom: 0.5rem;
  background-color: #302B27;
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.2rem;
  color: white;
  width: 10rem;
  padding: 0.5rem;
}
.container button:hover {
  color: black;
  background-color: #b4aaa2;
}
.container button:active {
  color: black;
  background-color: #b4aaa2;
}

.login_container {
  max-with: 20rem;
  width: 100%;
  grid-template-rows: 1fr 9fr;
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2rem;
}
.login_container .back {
  width: 7em;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.loginForm label, .loginForm input, .loginForm button {
  margin-top: 1rem;
  width: 15em;
  text-align: center;
}

.data_template__container_user {
  max-height: 40rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data_template__container_user .main_data {
  max-width: 50rem;
  overflow-y: scroll;
  padding: 1rem;
  margin: 0 auto;
  color: white;
  max-height: 20rem;
  background-color: rgba(136, 150, 171, 0.7);
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.5rem;
}
.data_template__container_user .logout {
  margin: 0 auto;
}

.main_data__single_user {
  display: block;
  background-color: #302B27;
  border: 1px solid rgba(245, 243, 245, 0.7);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
.main_data__single_user:nth-child(even) {
  background-color: rgba(245, 243, 245, 0.7);
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.5rem;
  color: black;
}
.main_data__single_user .user_div {
  padding: 0.1rem 0.5rem;
  text-align: center;
}
.main_data__single_user .user_div .amountVal {
  font-size: 1.2em;
  font-weight: bold;
}
.main_data__single_user .user_div .detVal {
  font-weight: bold;
}

.time {
  font-style: italic;
  font-size: 0.9em;
}

.edited {
  font-size: 0.8em;
  font-style: italic;
}

.data_template__container {
  max-height: 40rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.data_template__container .main_data {
  width: 100%;
  grid-area: data;
  max-height: 20rem;
  overflow-y: scroll;
  background-color: rgba(226, 229, 234, 0.7);
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.5rem;
}
.data_template__container .main_data__inputs .ain, .data_template__container .main_data__inputs .din {
  width: 40%;
  margin-bottom: 0.5rem;
}
.data_template__container .main_data__inputs .add {
  width: 75%;
}
.data_template__container .opts {
  padding: 0;
}
.data_template__container .opts .sumDiv {
  width: 100%;
}
.data_template__container .opts .logout, .data_template__container .opts .deleteAll {
  width: 9em;
  display: inline-block;
}
.data_template__container #accName {
  grid-area: name;
  margin: 0;
}
.data_template__container .main_data__single {
  text-align: center;
  width: 95%;
  grid-area: data;
  background-color: rgba(216, 225, 233, 0.6);
  border: 1px solid rgba(54, 57, 70, 0.6);
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  align-self: center;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas: "value  details" "time time" "etime etime" "edit del";
  padding-top: 0.5rem;
  margin: 0.5rem auto;
}
.data_template__container .main_data__single .val {
  grid-area: value;
  max-width: 7em;
}
.data_template__container .main_data__single .dtls {
  max-width: 7em;
  grid-area: details;
}
.data_template__container .main_data__single .time {
  grid-area: time;
  padding: 0.1rem;
}
.data_template__container .main_data__single .edited {
  grid-area: etime;
  padding: 0.1rem;
}
.data_template__container .main_data__single .edit, .data_template__container .main_data__single .saveEdit {
  grid-area: edit;
  width: 5em;
  font-size: 0.8em;
}
.data_template__container .main_data__single .saveEdit {
  background-color: rgba(5, 105, 47, 0.801);
  font-size: 0.8em;
}
.data_template__container .main_data__single .delete {
  font-size: 0.8em;
  grid-area: del;
  width: 5em;
  background: rgba(150, 0, 0, 0.527);
}
.data_template__container .main_data__single .delete:hover {
  color: rgba(150, 0, 0, 0.527);
  background: rgba(150, 0, 0, 0.127);
}

.form {
  width: 100%;
}
.form .back {
  width: 7em;
}

.create {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

input {
  border-radius: 0.2rem;
  padding-left: 1em;
  border: 1px solid black;
}
input:disabled {
  background: rgba(79, 93, 117, 0.5);
  border: 1px solid rgba(79, 93, 117, 0.6);
}
input:focus {
  background: rgba(5, 105, 47, 0.401);
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
