.container{
    padding:2em;
    width: 96vw;
}
.main_data__single{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1em;
    border-bottom:1px solid rgba(0, 0, 0, 0.089)
}
.main_data__single *{
    margin:.5em
}
.sumDiv{
    text-align: center;
    padding:1em;
}
h1{
    font-size: 3em;
    text-align: center
}
.main_data__inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
    border-bottom:1px solid rgba(0, 0, 0, 0.089)
}
.main_data__single > inputs{
    border: inherit
}
input:disabled {
    color:rgb(119, 117, 117);
    background: -webkit-linear-gradient(0deg, rgba(246,248,249,1) 0, rgba(229,235,238,0.65) 8%, rgba(215,222,227,1) 20%, rgba(139,148,158,1) 60%, rgba(139,148,158,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(246,248,249,1) 0, rgba(229,235,238,0.65) 8%, rgba(215,222,227,1) 20%, rgba(139,148,158,1) 60%, rgba(139,148,158,1) 100%);
  background: linear-gradient(90deg, rgba(246,248,249,1) 0, rgba(229,235,238,0.65) 8%, rgba(215,222,227,1) 20%, rgba(139,148,158,1) 60%, rgba(139,148,158,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    border:1px solid rgb(139, 137, 137)
  }
  .dtls input{
    font-family: inherit;
    width:inherit;
    border:1px solid rgb(139, 137, 137);
    border-radius:5px;
    padding:5px;
    height:3.5rem;
  }